{% extends "layout.html" %}

{% block body %}
<div class = "jumbotron text-center">
    
    <h1> <span style="color: #609CF9;">BRK-BLOG</span></h1>
    <hr> 
    <h3> <span class="badge badge-secondary">New</span></h3>
    <h3 style="font-family:'Copperplate'">Bloguma Hoş Geldiniz</h3>
    <hr>
    <h6>Kişisel Hesaplarım:</h6>
    <a href="https://www.instagram.com/berkanozm/"><input type="button" value="İnstagram" class="btn btn-outline-primary"/></a>
    <a href="https://twitter.com/berkannozm"><input type="button" value="Twitter" class="btn btn-outline-primary" /></a>
</div>

<body style = "background: url(https://cdn.suwalls.com/wallpapers/abstract/polygon-texture-26717-2560x1600.jpg)">
</body>

{% endblock %}